/*결제 방법 선택 css*/
.creditContainer{
    display: flex;
    justify-content: center;
}

.contentsContain{
    margin-top: 140px;
    height: 600px;
    width: 1000px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contentsContain h1{
    margin-bottom: 70px;
}

.imageContainerBox{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 80px;
}

.imageContainer div {
    margin-bottom: 20px;
}

.imageContainer button{
    font-size: 20px;
    background: transparent;
    border: none;
    color: white;
}

.imageContainer button:hover{
    cursor: pointer;
    text-decoration: underline;
}

.imageContainer:last-child{
    width: 176.88px;
}


