.middleContainer{
    width: 100%;
    padding-bottom: 95px;
    background-color: #2B2E4A;
    color: #F4F4F4;
}
.centerContainer{
    margin: 0 auto 15px;
    padding: 20px;
    max-width: 978px;
    box-sizing: border-box;
}
.payInfoContainer{
    text-align: left;
    max-width: 445px;
    margin: 0 auto;
}
.payFormInfo{
    margin-top: 0;
    text-align: left;
}

.titleContainer{
    display: flex;
    flex-direction: column;
}

.titleName{
    display: inline-block;
    margin: 0 0 0 0.4em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.payCompanyLogo{
    display: inline-block;
    width: 440px;
    height: 27px;
}

.writeInfoContainer{
    display: flex;
    flex-direction: column;
}

.writeInfo{
    height: 60px;
    width: 440px;
    cursor: text;
    margin-top: 10px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
}

.membershipInfoPrice{
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
}

.membershipInfoName{
    font-size: 16px;
    font-weight: 400;
    color: #cccccc;
}

.membershipContent{
    margin-top: 10px;
    height: 72px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 7px 14px;
    box-sizing: border-box;
    background-color: #344CB7;
    margin-right: 0px;
}

.membershipContentMod{
    margin-top: 10px;
    height: 72px;
    width: 60px;
    font-size: 16px;
    text-align: left;
    font-weight: 700;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #344CB7;
    border: none;
}

.membershipInfo{
    margin-top: 10px;
}

.allAgreeCheckbox{
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.75em;
    margin-bottom: 1.5rem;
    font-size: 19px;
    font-weight: bold;
}

.agreeList{
    padding-left: 0px;
}

.agreeListContent{
    margin-top: 5px;
}

.membershipStartBtn{
    min-height: 64px;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    vertical-align: center;
    word-spacing: 0;
    height: 64px;
    width: 440px;
    padding: 12px 25px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: royalblue;
}

.membershipContainer{
    display: flex;
    align-items: center;
}

footer{
    background-color: #F3F3F3;
    padding: 70px 388px 36px 388px;
    height: 400px;
    min-height: auto;
    min-width: 190px;
}

.siteFooter{
    height: 350px;
    padding: 0 0 20px 0;
    min-width: 190px;
    margin: 0 auto;
    width: 90%;
}

.icons{
    display: flex;
    justify-content: flex-start;
}
.iconsRow{
    margin-right: 20px;
}

.linkList{
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    width: 900px;
}
.linkList a {
    text-decoration: none solid rgb(51, 51, 51);
}

.linkList a:hover {text-decoration: underline;}

.link {
    font-size: 13px;
    text-align: left;
    vertical-align: top;
    height: 17px;
    width: 225px;
    margin: 0 0 16px 0;
    padding: 0 12px 0 0;
    min-width: 100px;
    display: inline-block;
    list-style-type: none;
    list-style-position: outside;
    box-sizing: border-box;

}

.last{
    justify-content: flex-start;
}

.textBoxContent{
    font-size: 12px;
}