.sideBox{
    width: 255px;
    height: 850px;
    background-color: #041c32;
    margin-right: 0px;
}

.toDoListBox{
    width: 205px;
    height: 400px;
    color: #FFFFFF;
    padding: 10px 20px 10px 20px;
}

.navMenu{
    margin-top: 0px;
    padding-top: 50px;
    height: 300px;
    color: #FFFFFF;
    list-style-type: none;
}

.Menu{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
}

.Menu a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.MenuLink{
    text-decoration: none;
}

.MenuLink:link{
    color:#FFFFFF ;
}

.MenuLink:visited{
    color: #FFFFFF;
}

.notificationPoint{
    background-color: tomato;
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    display: flex;
    position: absolute;
    left: 90px;
    bottom: 280px;
}

.completedList{
    border-top: 1px solid #FFFFFF;
    margin-right: 5px;
}

.plusList{
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    font-size: 18px;
}

.insertText{
    background-color: transparent;
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
}

.insetToDoListBox{
    margin-top: 5px;
}

