.sideBox{
    width: 255px;
    height: 850px;
    background-color: #041c32;
    margin: 0px;
}

.toDoList{
    width: 240px;
    height: 400px;
}

.navMenu{
    margin-top: 0px;
    padding-top: 50px;
    height: 300px;
    color: #FFFFFF;
    list-style-type: none;
}

.Menu{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
}

.Menu a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.notificationPoint{
    background-color: tomato;
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    display: flex;
    position: absolute;
    left: 90px;
    bottom: 290px;
}

