/*시청 제한 및 멤버십 변경 설정 변경 전 page css*/
.pwdEnterContainer{
    display: flex;
    justify-content: center;
}

.contentRestrictionsContainer{
    margin-top: 140px;
    height: 600px;
    width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ContentsInfo{
    border-top: 1px solid white;
    padding-top: 40px;
    margin-bottom: 40px;
    line-height: 25px;
    font-size: 18px;
}

.pwdInput input{
    font-size: 16px;
    height: 40px;
    width: 300px;
    border-radius: 15px;
    border: none;
    padding: 0px 20px;
}

.pwdInput{
    margin-bottom: 40px;
}

.pwdFindLink{
    color: #0e90d2;
    margin-bottom: 20px;
}

.pwdFindLink a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.pwdBtn{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid white;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.pwdBtn .btnInsideBox input{
    background-color: tomato;
    font-weight: bold;
    color: white;
    padding: 0.5rem 1rem;
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.pwdBtn .btnInsideBox input:hover{
    text-decoration: underline;
}



